@import "../../../assets/scss/variables";

.jur-countdown-graph {
  &__wrapper {
    display: flex;
    align-items: center;

    svg {
      width: 50px;
      margin-right: 20px;
    }
  }

  &__message {
    margin-top: 17px;

    .before-start {


      .jur-block-title {
        // margin-bottom: 10px;

        span {
          color: $countdown-before-start-message-color;
          font-weight: $poppins-regular;
          font-family: $font-poppins;
          font-size: 10px;
        }
      }
    }

    .rejected {
      color: $scarlet;
      font-family: $font-poppins;
      font-weight: bold;
      font-size: 10px;
    }
    svg {
      width: 10px;
    }
  }
}
