@import "../../../assets/scss/variables";
@import "../../../assets//scss//btnColorsMixin";

.jur-btn {
  $btn: &;

  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0 10px;
  font-size: $btn-font-size-default;
  font-weight: 600;
  font-family: $font-poppins;
  letter-spacing: 0.5px;
  border-radius: 4px;
  color: $btn-primary-color;
  text-transform: uppercase;
  border: 1px solid $btn-border-color;
  height: 31px;
  min-width: 180px;
  transition: all 0.3s;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    @include infoContained;
  }

  @include btnSmall;
  @include btnMedium;
  @include btnBig;
  @include fullWidth;
  @include infoBtn;
  @include disputeBtn;
  @include successBtn;
  @include friendlyBtn;
  @include mutedBtn;
  @include darkBlueBtn;
  @include gradientBtn;
  @include outlined;
}
