@import "../../../assets/scss/variables";
@import "../../../assets/scss/animationMixin";

.jur-form {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h3 {
    font-size: 20px;
    color: $prussian-blue;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
  }

  $form: &;

  label {
    display: flex;
    align-items: center;
    color: $label-color;
    font-size: 13px;
    font-family: $font-poppins;
    margin-bottom: 6px;

    span {
      padding-left: 5px;

      &.optional {
        color: $label-option;
        font-size: 10px;
        color: $cadet-blue;
      }

      &.required {
        color: $label-sup;
        height: 16px;
      }
    }
  }

  input {
    width: 100%;
    height: 36px;
    border: 1px solid $input-border-color;
    color: $label-color;
    font-size: 13px;
    border-radius: 2px;
    background-color: $white;
    outline: none;
    padding: 2px 8px;

    &:focus {
      outline: none;
    }

    &.error {
      border-color: $crimson;
    }
  }

  &__container {
    &#{$form}__header {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 2px solid $input-border-color;
      margin-bottom: 25px;

      #{$form}__group {
        flex: 1;
        margin-bottom: 0;

        input {
          width: 45%;
        }
      }

      .jur-avatar {
        margin-right: 20px;
      }
    }
  }

  &__group {
    margin-bottom: 15px;
  }

  &__numeric-input {
    display: inline-block;

    &__wrapper {
      display: inline-flex;
    }

    input {
      width: 46px;
      height: 32px;
      outline: none;
      border: 1px solid $input-numeric-border-color;
      color: $input-numeric-text-color;
      border-radius: 4px;
      font-size: 20px;
      -moz-appearance: textfield;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    label {
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
      margin-top: 5px;
      font-family: $font-poppins;
    }

    &--error {
      input {
        color: $form-error;
        border-color: $form-error;
      }

      label {
        color: $form-error;
      }
    }

    svg {
      display: block;
      width: 10px;
      padding: 3px 0;
      cursor: pointer;
    }

    &__actions {
      margin: 5px 0 0 5px;
    }
  }

  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    display: block;
  }

  &__search {
    position: relative;
    border: 1px solid $input-border-color;
    border-radius: 2px;

    input {
      width: calc(100% - 20px);
      border-width: 0;

      &::-webkit-input-placeholder {
        color: $gull-gray;
      }

      &:-moz-placeholder {
        color: $gull-gray;
      }

      &::-moz-placeholder {
        color: $gull-gray;
      }

      &::placeholder {
        color: $gull-gray;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    svg {
      position: absolute;
      color: $secondary;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 15px;
    }
  }
}

.jur-form__error-msg {
  display: block;
  font-size: 10px;
  padding-top: 2px;
  color: $crimson;
  font-family: $font-poppins;

  svg {
    display: inline-block;
    width: 12px;
    margin-right: 2px;
  }
}

.jur-select {
  &__value-container {
    min-width: 100px;
  }
  &--error {
    .jur-select__control,
    .jur-select__control:hover {
      border: 1px solid #ed1c24;
    }
  }
}

.react-datepicker__close-icon::after {
  background-color: transparent;
  content: $close-icon-svg;
  color: $secondary;
  font-size: 16px;

  // @include secondary-hover();

  &:hover {
    content: $close-icon-svg-hover;
  }
}

.react-datepicker-popper {
  z-index: 1000;
}
