*,
::after,
::before {
    box-sizing:border-box;
}
  
html {
    font-size: 16px;
}

a {
    text-decoration: none;

    &:active {
        outline: none;
    }
}

svg {
    vertical-align: middle;
    fill: currentColor;
}

textarea {
    resize: none;
}
