// variables definition
$cyan: #61dafb;
$white: white;
$black: black;
$dark: #233250;
$gray: #a6b2c4;
$blackSemiTransparent: rgba(0, 0, 0, 0.5);

$dodger-blue: #33adff;
$mercury: #e5e5e5;
$rose: #ed0782;
$gull-gray: #97a3b4;
$turquoise: #3fd3b8;
$prussian-blue: #002257;
$heliotrope: #9657ff;
$cerulean: #00b6f2;
$robin-blue: #00e0b7;
$orange-peel: #ff9b00;
$serenade: #fff5e5;
$electric-violet: #9013fe;
$blue-chalk: #f3e7fe;
$caribbean-green: #00ce7d;
$white-ice: #e5faf2;
$scarlet: #ff2500;
$pippin: #ffe5e5;
$tundora: #4a4a4a;
$gallery: #ececec;
$cloud-burst: #233250;
$big-stone: #1e2b45;
$black-haze: #eaebec;
$crimson: #ed1c24;
$porcelain: #f7f8f9;
$oxford-blue: #354052;
$cadet-blue: #aab2c0;
$fiord: #3f536e;
$cloud-burst: #253454;
$gray-1: #909090;
$white-lilac: #ebedf8;
$athens-gray: #e6eaee;

$blue-new: #0077ff;
$gray-new: #d8d8d8;
$gray-light-new: #e8ecef;
$gradient1-new: #de0977;
$gradient2-new: #3139ec;

$dodger-blue: $blue-new;

// Generic
$primary: $dodger-blue;
$error: $crimson;

// Forms
$label-color: $prussian-blue;
$label-option: $gull-gray;
$label-sup: $dodger-blue;
$input-border-color: $black-haze;
$input-numeric-border-color: $mercury;
$input-numeric-text-color: $gull-gray;
$input-numeric-active-text-color: $prussian-blue;
$form-error: $crimson;

// Buttons
$btn-primary-color: $dodger-blue;
$btn-secondary-color: $turquoise;
$btn-friendly-color: $heliotrope;
$btn-dispute-color: $rose;
$btn-border-color: $mercury;
$btn-dark-blue-color: $prussian-blue;
$btn-muted-color: $gull-gray;
$btn-gradient-color: linear-gradient(to right, $gradient1-new, $gradient2-new);
$btn-shadow: 0 3px 9px rgba($black, 0.1);
$btn-font-size-default: 12px;

// Tag
$tag-text-color--1: #ff2500;
$tag-bg-color--1: #ffe5e5;
$tag-text-color-0: #33adff;
$tag-bg-color-0: #e3eff8;
$tag-text-color-1: #fda214;
$tag-bg-color-1: #fff5e5;
$tag-text-color-5: #00ce7d;
$tag-bg-color-5: #e5faf2;
$tag-text-color-8: #4a4a4a;
$tag-bg-color-8: #ececec;
$tag-text-color-9: #4a4a4a;
$tag-bg-color-9: #ececec;
$tag-text-color-21: #ed0782;
$tag-bg-color-21: #f6dfeb;
$tag-text-color-29: #4a4a4a;
$tag-bg-color-29: #ececec;
$tag-text-color-31: #ed0782;
$tag-bg-color-31: #f6dfeb;
$tag-text-color-35: #9013fe;
$tag-bg-color-35: #f3e7fe;
$tag-text-color-36: #33adff;
$tag-bg-color-36: #e3eff8;
$tag-text-color-38: #4a4a4a;
$tag-bg-color-38: #ececec;
$tag-text-color-39: #4a4a4a;
$tag-bg-color-39: #ececec;

// Header
$header-bg-color: $white;
$profile-preview-border-color: $gray-new;

// SubHeader
$subheader-bg-color: $porcelain;

// ResolvedDisputeNotification
$resolved-dispute-notification-bg-color: $athens-gray;

// UserAction
$user-action-default-color: $prussian-blue;
$user-action-alert-color: $crimson;
$user-action-border-color: $black-haze;

// Dropdown
$dropdown-bg-color: $porcelain;
$dropdown-active-bg-color: $dodger-blue;
$dropdown-list-text-color: $prussian-blue;
$dropdown-list-border-color: $black-haze;

// Fonts
$font-poppins: "Poppins", Arial, sans-serif;
$font-opensans: "Open Sans", Arial, sans-serif;
$font-lato: "Lato", Arial, sans-serif;
$font-roboto: "Roboto", Arial, sans-serif;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semibold: 600;

// Modal
$modal-max-width: 900px;
$modal-title-color: $dodger-blue;
$modal-text-color: $oxford-blue;

// Main Nav
$main-nav-muted-color: $blue-new;
$main-nav-active-color: $white;

// Breadcrumb
$breadcrumb-muted-color: $cadet-blue;
$breadcrumb-active-color: $dodger-blue;

// Profile Menu
$profile-menu-color: $fiord;
$profile-menu-active-color: $dodger-blue;

// Accordion
$accordion-header-color: $fiord;
$accordion-header-active-color: $dodger-blue;
$accordion-title-color: $prussian-blue;

// Disclaimer
$disclaimer-title-color: $prussian-blue;
$disclaimer-title-icon-color: $dodger-blue;
$disclaimer-description-color: $gull-gray;
$disclaimer-border-color: $black-haze;
$disclaimer-bg-color: $porcelain;

// Coutdown
$countdown-value-muted-color: $gull-gray;
$countdown-label-color: $prussian-blue;
$countdown-playing-color: $blue-new;
$countdown-expiring-color: $crimson;
$countdown-before-start-message-color: $gull-gray;

// AvatarInfo
$avatar-info-text-color: $prussian-blue;

// UserNotification
$user-notification-color: $prussian-blue;

// Table
$table-border: $black-haze;

// Contracts
$contracts-empty-text-color: $prussian-blue;
$contracts-value-color: $dodger-blue;

// User Terms
$user-terms-title-color: $prussian-blue;
$user-terms-content-color: $fiord;

// Disputes Table
$disputes-earning-color: $dodger-blue;
$disputes-empty-link-color: $dodger-blue;

// CounterpartiesInfo
$counterparties-info-color: $prussian-blue;

// Input range
$input-range-bg-color: $cloud-burst;
$input-range-selected-color: $blue-new;
$input-range-slider-thumb: $blue-new;

// InfoTooltip
$tooltip-bg: $cloud-burst;

// FileList
$file-name-color: $cloud-burst;
$file-border-color: $black-haze;
$file-icon-color: $gull-gray;

// UploadForm
$upload-form-label-bg-color: $black-haze;
$upload-form-label-text-color: $gray-1;
$upload-form-add-button-color: $dodger-blue;

// BlockTitle
$block-title-text-color: $prussian-blue;

// Contract Name
$contract-name-color: $prussian-blue;

// Contract Amount
$contract-text-color: $gull-gray;

// Contract Summary
$contract-summary-border-color: $white-lilac;

// Contract Insert Details
$contract-details-textarea-border-color: $mercury;
$contract-details-textarea-text-color: $prussian-blue;
$contract-detail-preview-text-color: $prussian-blue;
$contract-detail-preview-link-color: $dodger-blue;

// Contract Actions
$contract-actions-text-color: $gull-gray;
$contract-actions-border-color: $white-lilac;

// Contract Select Category
$contract-select-category-title-color: $prussian-blue;

// Contract Set Duration
$contract-set-duration-description-color: $gull-gray;
$contract-set-duration-border-color: $white-lilac;

// Price Range
$price-range-value-text-color: $gull-gray;

// Who pays
$who-pays-input-text-color: $prussian-blue;
