// variables definition
$cyan   : #61dafb;
$white  : white;
$dark   : #282c34;

$dodger-blue: #33ADFF;
$mercury: #E5E5E5;
$rose: #ED0782;
$gull-gray: #97A3B4;
$turquoise: #3FD3B8;
$prussian-blue: #002257;
$heliotrope: #9657FF;
$cerulean: #00B6F2;
$robin-blue: #00E0B7;

// Buttons colors
$btn-primary-color: $dodger-blue;
$btn-secondary-color: $turquoise;
$btn-friendly-color: $heliotrope;
$btn-dispute-color: $rose;
$btn-border-color: $mercury;
$btn-dark-blue-color: $prussian-blue;
$btn-cancel-color: $gull-gray;