// variables definition
$cyan   : #61dafb;
$white  : white;
$black  : black;
$dark   : #233250;
$gray   : #a6b2c4;
$blackSemiTransparent : rgba(0,0,0,.5);

$dodger-blue: #33ADFF;
$mercury: #E5E5E5;
$rose: #ED0782;
$gull-gray: #97A3B4;
$turquoise: #3FD3B8;
$prussian-blue: #002257;
$heliotrope: #9657FF;
$cerulean: #00B6F2;
$robin-blue: #00E0B7;
$orange-peel: #FF9B00;
$serenade: #FFF5E5;
$electric-violet: #9013FE;
$blue-chalk: #F3E7FE;
$caribbean-green: #00CE7D;
$white-ice: #E5FAF2;
$scarlet: #FF2500;
$pippin:#FFE5E5;
$tundora: #4A4A4A;
$gallery: #ECECEC;
$cloud-burst: #233250;
$big-stone: #1E2B45;
$black-haze: #EAEBEC;
$crimson: #ED1C24;
$porcelain: #F7F8F9;



// Buttons
$btn-primary-color: $dodger-blue;
$btn-secondary-color: $turquoise;
$btn-friendly-color: $heliotrope;
$btn-dispute-color: $rose;
$btn-border-color: $mercury;
$btn-dark-blue-color: $prussian-blue;
$btn-muted-color: $gull-gray;
$btn-gradient-color: linear-gradient(to right, $cerulean, $robin-blue);
$btn-shadow: 0 3px 9px rgba($black, .10);
$btn-font-size-default: 12px;

// Tag
$tag-waiting-text-color: $orange-peel;
$tag-waiting-bg-color: $serenade;
$tag-draft-text-color: $electric-violet;
$tag-draft-bg-color: $blue-chalk;
$tag-ongoing-text-color: $caribbean-green;
$tag-ongoing-bg-color: $white-ice;
$tag-open-dispute-text-color: $scarlet;
$tag-open-dispute-bg-color: $pippin;
$tag-closed-dispute-text-color: $tundora;
$tag-closed-dispute-bg-color: $gallery;

// Header
$header-bg-color: $cloud-burst;
$profile-preview-border-color: $big-stone;

// MetaMask Alert
$metamask-title-border-color: $black-haze;
$metamask-alert-color: $crimson;
$metamask-description-color: $prussian-blue;

// Dropdown
$dropdown-bg-color: $porcelain;
$dropdown-active-bg-color: $dodger-blue;
$dropdown-list-text-color: $prussian-blue;
$dropdown-list-border-color: $black-haze;

// Fonts
$font-poppins: 'Poppins', Arial, sans-serif;
$font-opensans: 'Open Sans', Arial, sans-serif;
$font-lato: 'Lato', Arial, sans-serif;