// variables definition
$cyan: #61dafb;
$white: white;
$black: black;
$dark: #233250;
$gray: #a6b2c4;
$blackSemiTransparent: rgba(0, 0, 0, 0.5);

$dodger-blue: #33adff;
$mercury: #e5e5e5;
$rose: #ed0782;
$gull-gray: #97a3b4;
$turquoise: #3fd3b8;
$prussian-blue: #002257;
$heliotrope: #9657ff;
$cerulean: #00b6f2;
$robin-blue: #00e0b7;
$orange-peel: #ff9b00;
$serenade: #fff5e5;
$electric-violet: #9013fe;
$blue-chalk: #f3e7fe;
$caribbean-green: #00ce7d;
$white-ice: #e5faf2;
$scarlet: #ff2500;
$pippin: #ffe5e5;
$tundora: #4a4a4a;
$gallery: #ececec;
$cloud-burst: #233250;
$big-stone: #1e2b45;
$black-haze: #eaebec;
$crimson: #ed1c24;
$porcelain: #f7f8f9;
$oxford-blue: #354052;
$cadet-blue: #aab2c0;
$fiord: #3f536e;
$cloud-burst: #253454;
$gray-1: #909090;
$white-lilac: #ebedf8;
$athens-gray: #e6eaee;

$blue-new: #0077ff;
$gray-new: #d8d8d8;
$gray-light-new: #e8ecef;
$gradient1-new: #de0977;
$gradient2-new: #3139ec;

$dodger-blue: $blue-new;

// Generic
$primary: $dodger-blue;
$primary-hover: lighten($primary, 10%);
$secondary: $gull-gray;
$secondary-hover: darken($secondary, 10%);

$error: $crimson;
$header-color: $prussian-blue;

// Forms
$label-color: $prussian-blue;
$label-option: $gull-gray;
$label-sup: $dodger-blue;
$input-suffix: $gull-gray;
$input-border-color: $black-haze;
$input-numeric-border-color: $mercury;
$input-numeric-text-color: $gull-gray;
$input-numeric-active-text-color: $prussian-blue;
$input-active-text-color: $prussian-blue;
$input-textarea-border-color: #e6eaee;
$form-error: $crimson;

// Buttons
$btn-primary-color: $dodger-blue;
$btn-secondary-color: $turquoise;
$btn-friendly-color: $heliotrope;
$btn-dispute-color: $rose;
$btn-border-color: $mercury;
$btn-dark-blue-color: $prussian-blue;
$btn-muted-color: $gull-gray;
$btn-gradient-color: linear-gradient(to right, $gradient1-new, $gradient2-new);
$btn-shadow: 0 3px 9px rgba($black, 0.1);
$btn-font-size-default: 12px;

// Tag
$tag-text-color--1: #ff2500;
$tag-bg-color--1: #ffe5e5;
$tag-text-color-0: #33adff;
$tag-bg-color-0: #e3eff8;
$tag-text-color-1: #fda214;
$tag-bg-color-1: #fff5e5;
$tag-text-color-5: #00ce7d;
$tag-bg-color-5: #e5faf2;
$tag-text-color-8: #4a4a4a;
$tag-bg-color-8: #ececec;
$tag-text-color-9: #4a4a4a;
$tag-bg-color-9: #ececec;
$tag-text-color-21: #ed0782;
$tag-bg-color-21: #f6dfeb;
$tag-text-color-29: #4a4a4a;
$tag-bg-color-29: #ececec;
$tag-text-color-31: #ed0782;
$tag-bg-color-31: #f6dfeb;
$tag-text-color-35: #9013fe;
$tag-bg-color-35: #f3e7fe;
$tag-text-color-36: #33adff;
$tag-bg-color-36: #e3eff8;
$tag-text-color-38: #4a4a4a;
$tag-bg-color-38: #ececec;
$tag-text-color-39: #4a4a4a;
$tag-bg-color-39: #ececec;

// Header
$header-bg-color: $white;
$profile-preview-border-color: $gray-new;

// SubHeader
$subheader-bg-color: $porcelain;

// ResolvedDisputeNotification
$resolved-dispute-notification-bg-color: $athens-gray;

// UserAction
$user-action-default-color: $prussian-blue;
$user-action-alert-color: $crimson;
$user-action-border-color: $black-haze;

// Dropdown
$dropdown-bg-color: $porcelain;
$dropdown-active-bg-color: $dodger-blue;
$dropdown-list-text-color: $prussian-blue;
$dropdown-list-border-color: $black-haze;

// Fonts
$font-poppins: "Poppins", Arial, sans-serif;
$font-opensans: "Open Sans", Arial, sans-serif;
$font-lato: "Lato", Arial, sans-serif;
$font-roboto: "Roboto", Arial, sans-serif;
$font-montserrat: "Montserrat", Arial, sans-serif;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semibold: 600;

// Modal
$modal-max-width: 900px;
$modal-title-color: $dodger-blue;
$modal-text-color: $oxford-blue;

// Main Nav
$main-nav-muted-color: $blue-new;
$main-nav-active-color: $white;

// Breadcrumb
$breadcrumb-muted-color: $cadet-blue;
$breadcrumb-active-color: $dodger-blue;

// Profile Menu
$profile-menu-color: $fiord;
$profile-menu-active-color: $dodger-blue;

// Accordion
$accordion-header-color: $fiord;
$accordion-header-active-color: $dodger-blue;
$accordion-title-color: $prussian-blue;

// Disclaimer
$disclaimer-title-color: $prussian-blue;
$disclaimer-title-icon-color: $dodger-blue;
$disclaimer-description-color: $gull-gray;
$disclaimer-border-color: $black-haze;
$disclaimer-bg-color: $porcelain;

// Coutdown
$countdown-value-muted-color: $gull-gray;
$countdown-label-color: $prussian-blue;
$countdown-playing-color: $blue-new;
$countdown-expiring-color: $crimson;
$countdown-before-start-message-color: $gull-gray;

// AvatarInfo
$avatar-info-text-color: $prussian-blue;

// UserNotification
$user-notification-color: $prussian-blue;

// Table
$table-border: $black-haze;

// Contracts
$contracts-empty-text-color: $prussian-blue;
$contracts-value-color: $dodger-blue;

// User Terms
$user-terms-title-color: $prussian-blue;
$user-terms-content-color: $fiord;

// Disputes Table
$disputes-earning-color: $dodger-blue;
$disputes-empty-link-color: $dodger-blue;

// CounterpartiesInfo
$counterparties-info-color: $prussian-blue;

// Input range
$input-range-bg-color: $cloud-burst;
$input-range-selected-color: $blue-new;
$input-range-slider-thumb: $blue-new;

// InfoTooltip
$tooltip-bg: $cloud-burst;

// FileList
$file-name-color: $cloud-burst;
$file-border-color: $black-haze;
$file-icon-color: $gull-gray;

// UploadForm
$upload-form-label-bg-color: $black-haze;
$upload-form-label-text-color: $gray-1;
$upload-form-add-button-color: $dodger-blue;

// BlockTitle
$block-title-text-color: $prussian-blue;

// Contract Name
$contract-name-color: $prussian-blue;

// Contract Amount
$contract-text-color: $gull-gray;

// Contract Summary
$contract-summary-border-color: $white-lilac;

// Contract Insert Details
$contract-details-textarea-border-color: $mercury;
$contract-details-textarea-text-color: $prussian-blue;
$contract-detail-preview-text-color: $prussian-blue;
$contract-detail-preview-link-color: $dodger-blue;

// Contract Actions
$contract-actions-text-color: $gull-gray;
$contract-actions-border-color: $white-lilac;

// Contract Select Category
$contract-select-category-title-color: $prussian-blue;

// Contract Set Duration
$contract-set-duration-description-color: $gull-gray;
$contract-set-duration-border-color: $white-lilac;

// Price Range
$price-range-value-text-color: $gull-gray;

// Who pays
$who-pays-input-text-color: $prussian-blue;

// Advocate/Reward/Slot
$non-holder-background-color: $athens-gray;
$justinian-background-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 227 178'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M180.5-42.21c0 3.482-2.835 6.298-6.338 6.298-3.493 0-6.329-2.816-6.329-6.299 0-3.482 2.836-6.298 6.329-6.298 3.503 0 6.338 2.816 6.338 6.298zm12.667 190.53c0 3.478-2.836 6.29-6.329 6.29-3.503 0-6.338-2.812-6.338-6.29 0-3.477 2.835-6.307 6.338-6.307 3.493 0 6.329 2.83 6.329 6.308zM133 112.088c0 3.478-2.828 6.308-6.333 6.308-3.496 0-6.334-2.83-6.334-6.308 0-3.477 2.838-6.289 6.334-6.289 3.505 0 6.333 2.812 6.333 6.29zm-53.833-73.99c0 3.48-2.838 6.293-6.334 6.293-3.496 0-6.333-2.813-6.333-6.293s2.837-6.303 6.333-6.303 6.334 2.822 6.334 6.303zm66.5-31.492c0 3.472-2.836 6.294-6.329 6.294-3.503 0-6.338-2.822-6.338-6.294 0-3.48 2.835-6.302 6.338-6.302 3.493 0 6.329 2.822 6.329 6.302zm-9.974-18.118c-8.65 1.514-14.972 9.237-14.972 18.269 0 9.022 6.321 16.736 14.972 18.268 8.66 1.532 17.117-3.584 20.044-12.095h10.638l22.269 22.91c1.125 1.155 2.655 1.81 4.246 1.81h24.027v12.355h-81.62l-16.263-16.719c-1.126-1.165-2.647-1.819-4.247-1.819H89.653c-2.919-8.511-11.385-13.618-20.036-12.086-8.65 1.523-14.972 9.237-14.972 18.268 0 9.032 6.321 16.746 14.972 18.27 8.65 1.522 17.117-3.585 20.036-12.096h22.646l16.264 16.727c1.126 1.156 2.655 1.82 4.247 1.82h84.107v24.71h-30.032c-1.6 0-3.13.654-4.255 1.81l-16.255 16.727H143.72c-2.928-8.511-11.385-13.618-20.036-12.095-8.65 1.532-14.972 9.246-14.972 18.269 0 9.03 6.321 16.745 14.972 18.268 8.65 1.532 17.108-3.575 20.036-12.077h25.134c1.591 0 3.121-.663 4.246-1.82l16.264-16.727h27.553v43.248H203.79c-2.919-8.502-11.385-13.61-20.035-12.077-8.651 1.523-14.972 9.237-14.972 18.269 0 9.03 6.32 16.736 14.972 18.268 8.65 1.523 17.116-3.575 20.035-12.095h13.126v24.72H30.689c-6.523.017-12.853 2.248-18.022 6.334V111.79h24.026v55.612h12.018V-67.404h168.206v18.547h-25.135c-2.927-8.52-11.393-13.619-20.044-12.096-8.642 1.533-14.972 9.238-14.972 18.27 0 9.03 6.33 16.745 14.972 18.268 8.65 1.532 17.117-3.575 20.044-12.096h25.135v61.804h-21.548L173.1 2.383c-1.125-1.165-2.655-1.81-4.246-1.81h-13.117c-2.927-8.511-11.384-13.618-20.044-12.086zm81.224 241.702H96.774v-18.895c0-3.47-2.7-6.292-6.014-6.292H54.716c-3.323 0-6.005 2.822-6.005 6.292v18.895H30.69c-9.952 0-18.022-8.457-18.022-18.895 0-10.43 8.07-18.895 18.022-18.895h186.228v37.79zm-133 28.342l-7.674-8.04c-2.32-2.425-6.074-2.425-8.394 0l-7.682 8.04v-40.939h23.75v40.939zM12.667 99.5h23.75V19.197h-23.75V99.5zm0-148.744c.008-10.023 7.838-18.15 17.493-18.16h6.257V6.601h-23.75v-55.845zM221.994-80H29.678C13.302-79.982.018-66.286 0-49.395v260.31c.018 17.089 13.443 30.928 30.003 30.955h18v30.946c0 2.495 1.457 4.757 3.705 5.717 2.239.952 4.811.422 6.532-1.346L72 262.997l13.758 14.19c1.124 1.167 2.652 1.813 4.24 1.813.791 0 1.573-.153 2.301-.467 2.24-.96 3.706-3.222 3.706-5.717V241.87h125.99c3.318 0 6.005-2.773 6.005-6.192V-73.807c0-3.42-2.687-6.193-6.006-6.193z' opacity='.1'/%3E%3C/svg%3E%0A");
$solomon-background-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 328 178'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M292.399 105.012c4.81.485 8.573 4.436 8.573 9.28v23.019h7.946c1.743.062 3.485.416 5.088.963 7.598 2.565 13.034 9.641 13.034 17.959v12.476l-.07.755c-.348 3.68-3.554 6.522-7.388 6.522v15.04l30.53 21.695c1.254.831 1.951 2.218 1.951 3.742v15.218c9.061 2.288 14.916 10.951 13.801 20.17-1.185 9.218-9.061 16.149-18.401 16.149s-17.286-6.931-18.401-16.15c-1.185-9.218 4.67-17.881 13.731-20.169v-12.868l-30.53-21.687c-1.184-.839-1.951-2.218-1.951-3.743v-26.13h7.876v-11.02l-.07-.97c-.487-5.199-4.948-9.226-10.385-9.226h-30.947c-1.673-3.188-3.764-6.092-6.204-8.726h21.468v-23.22c-.07-.207-.279-.353-.557-.353h-12.338l-.697-.062c-2.09-.284-3.763-2.149-3.763-4.304 0-1.38.627-2.565 1.603-3.32.766-.7 1.742-1.04 2.857-1.04zm-56.25 17.713c6.272 0 12.127 2.073 16.797 5.607 6.483 4.852 10.734 12.546 10.943 21.21.07.277.07.554.07.831 0 2.773-.418 5.406-1.185 7.902-2.997 9.98-11.5 17.611-22.026 19.406v53.993c9.062 2.288 14.986 10.951 13.801 20.17-1.185 9.225-9.06 16.156-18.4 16.156-9.34 0-17.217-6.931-18.402-16.156-1.185-9.219 4.74-17.882 13.731-20.17v-53.646c0-.132 0-.277.07-.409-10.525-1.733-19.029-9.364-22.026-19.344-.767-2.496-1.185-5.13-1.185-7.902 0-.277 0-.554.07-.832.21-8.663 4.46-16.357 10.943-21.209 4.67-3.534 10.525-5.607 16.798-5.607zm15.124-17.714l.627.063c2.16.277 3.764 2.086 3.764 4.297 0 2.433-1.952 4.367-4.391 4.367H174.53c-.209.145-.418.353-.418.554v23.018h27.602c-2.44 2.634-4.53 5.545-6.273 8.733h-37.988c-.627.07-1.324.208-1.882.347-4.321 1.317-7.527 5.198-7.527 9.842v11.02h13.87v26.13c0 1.525-.697 2.911-1.882 3.743l-30.529 21.694v12.862c8.992 2.288 14.916 10.951 13.731 20.17-1.185 9.218-9.06 16.149-18.4 16.149-9.34 0-17.217-6.931-18.402-16.15-1.185-9.218 4.74-17.881 13.8-20.169v-15.218c0-1.525.698-2.911 1.952-3.743l30.46-21.694v-15.04h-6.064l-.767-.07c-3.764-.346-6.621-3.465-6.621-7.208v-13.585c.627-9.918 9.06-17.813 19.237-17.813h6.831v-23.018l.07-.894c.418-4.713 4.46-8.387 9.41-8.387h76.532zm96.19 135.195c-5.158 0-9.34 4.16-9.34 9.288 0 5.053 4.182 9.218 9.34 9.218 5.088 0 9.27-4.165 9.27-9.218 0-5.129-4.182-9.288-9.27-9.288zm-222.629 0c-5.088 0-9.27 4.16-9.27 9.288 0 5.053 4.182 9.218 9.27 9.218 5.158 0 9.27-4.165 9.27-9.218 0-5.129-4.112-9.288-9.27-9.288zm111.314-.006c-5.158 0-9.27 4.158-9.27 9.294 0 5.053 4.112 9.211 9.27 9.211 5.088 0 9.27-4.158 9.27-9.21 0-5.137-4.182-9.295-9.27-9.295zm-46.28-72.948c-.07.278-.07.555-.07.832v44.421c8.992 2.287 14.916 10.951 13.731 20.176-1.185 9.219-9.061 16.08-18.401 16.08s-17.216-6.861-18.401-16.08c-1.185-9.225 4.74-17.889 13.8-20.176v-45.253zm101.904 0v45.253c9.061 2.287 14.986 10.951 13.801 20.176-1.185 9.219-9.061 16.08-18.401 16.08s-17.216-6.861-18.401-16.08c-1.192-9.225 4.67-17.889 13.73-20.176v-44.42c0-.278 0-.555-.069-.833h9.34zm-106.644 53.785c-5.088 0-9.27 4.152-9.27 9.219 0 5.129 4.182 9.218 9.27 9.218 5.158 0 9.27-4.09 9.27-9.218 0-5.067-4.112-9.219-9.27-9.219zm102.044 0c-5.158 0-9.27 4.152-9.27 9.219 0 5.129 4.112 9.218 9.27 9.218 5.081 0 9.27-4.09 9.27-9.218 0-5.067-4.189-9.219-9.27-9.219zM160.244-91c2.927 0 5.785 1.109 7.876 3.181l7.876 7.832.767.77c1.603 1.94 2.51 4.429 2.51 6.993 0 2.911-1.116 5.69-3.277 7.77l-1.672 1.663 67.82 66.677 1.742-1.663.766-.693c4.392-3.605 10.874-3.327 14.986.693l7.946 7.762.697.832c1.673 1.934 2.51 4.367 2.51 6.931 0 2.911-1.116 5.677-3.207 7.763l-60.71 59.67-.836.7c-1.952 1.594-4.461 2.488-7.04 2.488-2.997 0-5.785-1.11-7.876-3.189l-7.946-7.762-.697-.825c-3.625-4.297-3.416-10.674.697-14.694l1.673-1.733-21.399-21.07-61.895 60.785.558 1.04c.697 1.386 1.045 2.91 1.045 4.498 0 2.849-1.115 5.552-3.206 7.562L39.73 172.165l-.767.7c-1.951 1.587-4.321 2.419-6.9 2.419-2.858 0-5.576-1.109-7.667-3.119L3.206 151.24l-.766-.77C.836 148.607 0 146.25 0 143.756c0-2.849 1.115-5.545 3.206-7.555L63.36 77.009l.836-.77c1.952-1.518 4.322-2.35 6.83-2.35 2.022 0 3.974.486 5.647 1.519l33.805-33.27.558-.478c1.742-1.185 4.182-1.04 5.715.479 1.743 1.732 1.743 4.442 0 6.175L83.154 81.375l12.407 12.13 61.616-60.585-12.407-12.13-8.225 8.048-.557.485c-1.743 1.248-4.182 1.109-5.716-.485-1.742-1.67-1.742-4.436 0-6.169l8.225-8.04-21.468-21.14-1.673 1.664-.836.762c-2.022 1.595-4.461 2.496-7.04 2.496-2.997 0-5.785-1.179-7.946-3.258l-7.876-7.763-.767-.832c-1.603-1.94-2.51-4.366-2.51-6.93 0-2.912 1.186-5.684 3.277-7.763l60.64-59.684.836-.686c2.022-1.6 4.461-2.495 7.11-2.495zm75.904 222.937c-9.967 0-18.053 7.762-18.54 17.604v.832c0 2.842.627 5.552 1.812 7.902 2.927 6.237 9.34 10.535 16.728 10.535 7.389 0 13.801-4.298 16.729-10.535 1.184-2.35 1.812-5.06 1.812-7.902v-.832c-.488-9.842-8.573-17.604-18.54-17.604zM71.026 82.616c-.279 0-.837.076-1.394.554L9.479 142.362l-.348.346c-.21.423-.279.77-.279 1.047 0 .277.07.831.627 1.317l21.19 20.931.418.278c.348.208.767.277.976.277.348 0 .906-.07 1.394-.555l60.222-59.19.279-.417c.279-.346.279-.762.279-.977 0-.34-.07-.901-.558-1.38L72.419 83.17l-.348-.34c-.418-.214-.766-.214-1.045-.214zM251.762 7.698c-.627 0-1.185.277-1.603.686l-60.71 59.684-.349.346c-.488.894-.418 2.073.349 2.773l7.946 7.832.348.277c.906.554 2.091.409 2.858-.277l60.64-59.684.349-.34c.21-.346.348-.769.348-1.247 0-.624-.209-1.178-.697-1.6l-7.876-7.764-.348-.277c-.419-.277-.837-.409-1.255-.409zM168.05-56.629l-44.748 43.943 67.82 66.677 44.748-43.936-67.82-66.684zm-7.806-25.645c-.627 0-1.185.215-1.673.63l-60.64 59.67-.28.347c-.278.353-.417.832-.417 1.254 0 .624.278 1.179.697 1.588l7.876 7.77.418.339c.906.492 2.091.423 2.858-.34l60.64-59.607.28-.346c.278-.416.417-.832.417-1.255 0-.617-.278-1.171-.697-1.587l-7.876-7.832-.348-.277c-.419-.208-.837-.354-1.255-.354z' opacity='.1'/%3E%3C/svg%3E%0A");
$justinian-gradient: linear-gradient(11deg, #38b8f2 0%, #843cf6 100%);
$solomon-gradient: linear-gradient(190.73deg, #3139ec 0%, #ff0061 100%);
$advocate-gradient: linear-gradient(
  169.14deg,
  #e35c67 -27.76%,
  #381ce2 116.22%
);
$slot-sparse: $turquoise;
$slot-moderate: $orange-peel;
$slot-scarce: $crimson;

// Datepicker
$close-icon-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false' fill='hsl(0,0%,80%)' class='css-19bqh2r jur-close-icon__svg'%3E%3Cpath d='M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z'%3E%3C/path%3E%3C/svg%3E");
$close-icon-svg-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false' fill='red' fillo='#97a3b4' class='css-19bqh2r jur-close-icon__svg'%3E%3Cpath d='M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z'%3E%3C/path%3E%3C/svg%3E");
