@import './fonts';
@import './variables';
@import './reset';

.jur {
    text-align: center;
    &--header {
        background-color: $dark;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: $white;
    }
    &--link {
        color: $cyan;
    }
}