@import "../../../assets/scss/variables";

.jur-contract-counterparties {
  &__value {
    margin-top: 25px;
    line-height: 1;
  }

  .jur-avatar-info {
    font-size: 13px;
    color: $contract-text-color;

    &:first-child {
      margin-bottom: 33px;
    }
  }
}
