@import "../../../assets/scss/variables";

.jur-contract-counterparties {
    &__value {
        margin-top: 10px;
        line-break: 1;
    }

    .jur-avatar-info {
        font-size: 13px;
        color: $contract-amount-text-color;

        &:first-child {
            margin-bottom: 20px;
        }
    }
}