@import "../../../assets/scss/variables"; // get global variables
.jur {
  &--spinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: $white;
    position: absolute;
    z-index: 199;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 1;
    pointer-events: none;
    &.off {
      transition: all 400ms linear;
      opacity: 0;
    }
    img {
      max-width: 80px;
    }
  }

  &-main &--spinner{

    $spacer : 117px;
    top: $spacer;
    padding-bottom: $spacer;

    &.table__loading {
      top: 260px;
      height: 66vh;      
    }
  }
}

.jur-oracles-table .jur--spinner.table__loading {
  top: 190px;
}
