
@import '../../../assets/scss/variables'; // get global variables

.jur {

    &--spinner {

        width: 100vw;
        height: 100vh;
        display: flex;
        background: $white;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        user-select: none;
        opacity: 1;
        pointer-events: none;

        &.off {
            opacity: 0;
        }

        img {
            max-width: 80px;
        }
    }
}