version: "3"
services:
  jur:
    image: jur_platform:08JUN2020
    working_dir: /var/www/html
    volumes:
      - ./rest:/var/www/html
      - ./build:/var/www/html/public
      - ./environment/nginx/nginx.conf:/etc/nginx/sites-available/default
      - ./environment/php/php.ini:/etc/php/7.2/fpm/php.ini
      - ./environment/jbp/cron:/var/spool/cron/crontabs/root
      - ./environment/jbp/supervisor:/etc/supervisor/conf.d
    ports:
      - "8000:80"
    links:
      - db
      - cache
      - rabbit

  db:
    image: mysql:5.7
    env_file: .env.docker-compose
    volumes:
      - ./persistent-runtime/mysql:/var/lib/mysql

  rabbit:
    image: rabbitmq:3.8
    env_file: .env.docker-compose
    labels:
      NAME: "rabbit"

  polling:
    image: busybox
    command: tail -f /dev/null
    links:
      - polling_rtr
      - polling_per
      - polling_db
      - polling_producer

  polling_rtr:
    image: node:14.3
    restart: always
    env_file: .env.polling-service
    volumes:
      - ./polling-service/node-services:/var/www/html
    working_dir: /var/www/html
    command: node --unhandled-rejections=strict start-rtr.js
    links:
      - polling_producer

  polling_per:
    image: node:14.3
    env_file: .env.polling-service
    volumes:
      - ./polling-service/node-services:/var/www/html
    working_dir: /var/www/html
    command: node --unhandled-rejections=strict start-per.js

  polling_db:
    image: mysql:5.7
    env_file: .env.polling-service
    volumes:
      - ./persistent-runtime/polling-mysql:/var/lib/mysql

  polling_producer:
    image: polling_producer:22JUN2020
    working_dir: /var/www/html
    volumes:
      - ./polling-service/producer:/var/www/html
      - ./environment/nginx/nginx.conf:/etc/nginx/sites-available/default
      - ./environment/php/php.ini:/etc/php/7.2/fpm/php.ini
      - ./environment/producer/cron:/var/spool/cron/crontabs
      - ./environment/producer/supervisor:/etc/supervisor/conf.d
    ports:
      - "8100:80"
    links:
      - polling_db

  cache:
    image: memcached
