@import "../../../assets/scss/variables";

.jur-range {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6px 0;

  span {
    position: absolute;
    top: 6px;
    right: 0;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: $input-range-bg-color;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    border-radius: 4px;
    margin: 0;
    background-color: $input-range-selected-color;
    border: 0;

    &::-webkit-slider-thumb {
      position: relative;
      z-index: 2;
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      background: $input-range-slider-thumb;
      cursor: pointer;
      box-shadow: 0 0 3px rgba($black, 0.2);
    }

    &::-webkit-slider-thumb {
      position: relative;
      z-index: 2;
      width: 16px;
      height: 16px;
      background: $input-range-slider-thumb;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
  }

  &__value-display {
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
  }
}
