.jur-contract-details-preview {
    display: flex;
    height: 100%;
    flex-direction: column;

    .jur-contract-text-preview {
        margin-bottom: 20px;
    }

    .jur-file-list {
        margin-top: auto;
    }
}