@import "../../../assets/scss/variables";

.jur {
  &-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 19px;
    border-radius: 9.5px;
    padding: 0 8px;
    font-family: $font-opensans;
    font-weight: 600;

    span {
      line-height: 9px;
    }

    &---1 {
      color: $tag-text-color--1;
      background-color: $tag-bg-color--1;
    }

    &--0 {
      color: $tag-text-color-0;
      background-color: $tag-bg-color-0;
    }

    &--1 ,
    &--2 ,
    &--3 {
      color: $tag-text-color-1;
      background-color: $tag-bg-color-1;
    }

    &--5 {
      color: $tag-text-color-5;
      background-color: $tag-bg-color-5;
    }

    &--7 ,
    &--8 {
      color: $tag-text-color-8;
      background-color: $tag-bg-color-8;
    }

    &--9,
    &--10 {
      color: $tag-text-color-9;
      background-color: $tag-bg-color-9;
    }

    &--21 {
      color: $tag-text-color-21;
      background-color: $tag-bg-color-21;
    }

    &--29 {
      color: $tag-text-color-29;
      background-color: $tag-bg-color-29;
    }

    &--31 ,
    &--32 {
      color: $tag-text-color-31;
      background-color: $tag-bg-color-31;
    }

    &--35 {
      color: $tag-text-color-35;
      background-color: $tag-bg-color-35;
    }

    &--36 {
      color: $tag-text-color-36;
      background-color: $tag-bg-color-36;
    }

    &--38 {
      color: $tag-text-color-38;
      background-color: $tag-bg-color-38;
    }

    &--39 {
      color: $tag-text-color-39;
      background-color: $tag-bg-color-39;
    }
  }
}
