@import "../../../assets/scss/variables";

.jur-price-range {
    display: flex;
    align-items: flex-start;

    .jur-avatar {
        margin-right: 15px;
        position: relative;
        top: -2px;
    }

    .jur-range {
        max-width: 230px;
    }

    &__value {
        margin-left: auto;
        color: $price-range-value-text-color;
        text-align: right;
        font-family: $font-poppins;
        line-height: 1;

        .jur-amount {
            font-size: 20px;
        }

        &__percentage {
            display: block;
            font-size: 10px;
            margin-top: 3px;
        }
    }
}