@import "../../../assets/scss/variables";
@import "../../../assets/scss/animationMixin";

.jur-form {
  $form: &;

  &__profile {
    #{$form}__container {
      display: flex;
      justify-content: space-between;

      #{$form}__group {
        flex-basis: calc((100% - 40px) / 2);
        position: relative;
      }

      .back-to-list {
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 11px;
        cursor: pointer;
        color: $prussian-blue;
      }
    }

    #{$form}__footer {
      margin-top: 30px;

      #{$form}__group {
        display: flex;
        width: 100%;
        flex-basis: 100%;
        justify-content: space-between;
      }
    }

    &__options {
      flex-basis: calc((100% - 40px) / 2);

      &__show-name {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-family: $font-poppins;
        align-items: flex-start;
        justify-content: space-between;

        label {
          display: inline-block;
          color: $prussian-blue;
          font-weight: 600;
        }

        .jur-info-tooltip {
          display: inline-block;
          margin-right: 5px;
          fill: $gull-gray;
          width: 10px;
        }

        &__input {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .switch__value {
            width: 25px;
            text-align: right;
          }
        }

        .switch {
          margin-bottom: 0;
        }
      }

      &__terms {
        display: flex;
        align-items: center;
        margin-top: 20px;

        input {
          position: relative;
          top: 2px;
          width: auto;
          margin: 0 5px 0 0;
          width: 16px;
          height: 16px;
        }

        label {
          display: block;
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: $dodger-blue;
        }
      }
    }

    &__submit {
      display: flex;
      justify-content: flex-end;
    }

    &__bio {
      #{$form}__group {
        flex-basis: 100% !important;
        position: relative;
      }
      textarea {
        width: 100%;
        height: 100px;
        border-radius: 4px;
        padding: 12px 16px;
        outline: none;
        border: 1px solid $gray-light-new;
        margin-bottom: 1rem;

        &:focus {
          border-color: $blue-new;
        }

        &::placeholder {
          color: $secondary;
        }
      }

      &__flash {
        @include flash();
      }

      textarea.error {
        border-color: $crimson;
      }
    }
  }
}

.mt-2 {
  margin-top: 2rem;
}

.jur-form__header {
  .jur-input__wallet {
    width: 90% !important;
  }
}
