@import "../../../assets/scss/variables";

.jur-contract-actions {
  display: flex;
  height: 80px;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $contract-actions-border-color;

  &__text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: $contract-actions-text-color;
    font-family: $font-poppins;
    font-weight: $poppins-medium;
  }
}
