.jur {
  &-avatar {
    $avatar: &;

    display: inline-flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    &--circle {
      border-radius: 50%;
    }

    &--xxsmall {
      &#{$avatar}--rounded {
        border-radius: 2px;
      }

      canvas {
        width: 12px !important;
        height: 12px !important;
      }
    }

    &--xsmall {
      &#{$avatar}--rounded {
        border-radius: 3px;
      }

      canvas {
        width: 16px !important;
        height: 16px !important;
      }
    }

    &--small {
      &#{$avatar}--rounded {
        border-radius: 4px;
      }

      canvas {
        width: 24px !important;
        height: 24px !important;
      }
    }

    &--medium {
      &#{$avatar}--rounded {
        border-radius: 5px;
      }

      canvas {
        width: 30px !important;
        height: 30px !important;
      }
    }

    &--large {
      &#{$avatar}--rounded {
        border-radius: 6px;
      }

      canvas {
        width: 40px !important;
        height: 40px !important;
      }
    }

    &--xlarge {
      &#{$avatar}--rounded {
        border-radius: 7px;
      }

      canvas {
        width: 48px !important;
        height: 48px !important;
      }
    }

    &--xxlarge {
      &#{$avatar}--rounded {
        border-radius: 8px;
      }

      canvas {
        width: 64px !important;
        height: 64px !important;
      }
    }

    &--xxxlarge {
      &#{$avatar}--rounded {
        border-radius: 9px;
      }

      canvas {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }
}
