.jur-col {
    &--status {
      width: 150px;
    }

    &--category {}

    &--duration {
      width: 190px;
    }

    &--wallet {
      width: 390px;
    }

    &--amount {
      width: 160px;
    }

    &--options {
      width: 60px;
    }

    &--dispute-name {}

    &--earning {
        width: 110px;
    }
}


