.jur-col {
    &--status {
      width: 150px;
    }

    &--duration {
      width: 200px;

      &-with-seconds {

        width: 270px;
      }
    }

    &--category {
      width: 190px;
    }

    &--wallet {
      width: 390px;
    }

    &--amount {
      width: 160px;
    }

    &--options {
      width: 60px;
    }

    &--dispute-name {}

    &--earning {
        width: 110px;
    }
}


