@import "../../../assets/scss/variables";

.hidden {
  display: none;
}

.jur-box {
  padding: 40px 54px;

  &__spread {
    padding-left: 0;
    padding-right: 0;
  }

  &__spread-out {
    padding-left: 0;
    padding-right: 0;
    margin-left: -54px;
    margin-right: -54px;
  }

  &__center {
    text-align: center;
  }

  &__hero {
    text-align: center;
    border-bottom: 1px solid #eaebec;
  }

  &__header {
    border-bottom: 1px solid #eaebec;
  }

  &__subheader {
    border-bottom: 1px solid #eaebec;
    border-top: 1px solid #eaebec;
    padding-top: 20px;
  }

  &__footer {
    border-top: 1px solid #eaebec;
    text-align: center;
  }

  &__message {
    padding: 22px;
    font-size: 13px;
    margin-bottom: -10px;
    margin-bottom: 25px;
    text-align: center;
    border-top: 1px solid #eaebec;
    border-bottom: 1px solid #eaebec;
  }
}

.jur-box-title {
  margin-left: -54px;
  margin-right: -54px;
  font-weight: 400;
  color: $header-color;
  font-size: 20px;
}

.jur-box-title + .jur-box {
  padding: 0;
}
