@import "../../../assets/scss/variables";

.jur-dispute-resolution-proposal {
  &__title {
    font-family: $font-poppins;
    font-size: 20px;
    color: $prussian-blue;
    margin-bottom: 20px;
    padding: 20px 40px;
  }

  &__proposals {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  &__proposal {
    flex-basis: 45%;
  }

  .jur-proposal-preview {
    margin-top: 20px;
    padding: 0 20px;

    .jur-proposal-preview__message {
      color: $gull-gray;
      margin-bottom: 30px;
    }
  }
}
