@import "../../../assets/scss/variables";

.jur-contract-detail-preview {
    &__message {
        color: $contract-detail-preview-text-color;
        font-size: 12px;
        font-family: $font-poppins;
        line-height: 28px;
        padding: 10px 0 0 20px;

        a {
            color: $contract-detail-preview-link-color;
            text-decoration: none;
            font-weight: $poppins-semibold;
        }
    }
}