@import "../../../assets/scss/variables";

.switch {
  display: flex;

  &__input {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    margin-right: 10px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked {
        + .slider {
          background-color: $dodger-blue;

          &::before {
            transform: translateX(85%);
          }
        }
      }

      &:focus {
        + .slider {
          box-shadow: 0 0 1px $dodger-blue;
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $gull-gray;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 3px;

      &::before {
        position: absolute;
        content: "";
        height: 80%;
        width: 44%;
        left: 3px;
        bottom: 1.6px;
        border-radius: 2px;
        background-color: $white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }

  &__value {
    font-family: $font-poppins;
    font-weight: $poppins-regular;
    font-size: 12px;
    color: $prussian-blue;
    width: 22px;
    text-align: right;
  }
}
