.jur-form {

    $form: &;

    &__create-contract-form {
        #{$form}__wrapper {
            display: flex;
            justify-content: space-between;

            > div {
                flex-basis: 47%;
            }
        }
        
        #{$form}__container {
            &#{$form}__header {
                input {
                    width: 100%;
                }
            }
        }

        &__footer {
            margin-top: 20px;
            text-align: right;
        }
    }
}