$red: #ed1c24;
$blue: #0077ff;
$grey: #eaebec;

.jur-box {
  .jur-bio-box {
    .jur-bio-text {
      text-align: left;

      .jur-bio-edit {
        color: $blue;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
    textarea {
      width: 100%;
      height: 100px;
      border-radius: 8px;
      padding: 1rem 1rem;
      outline: none;
      border: 1px solid darken($grey, 15);
      margin-bottom: 1rem;

      &:focus {
        border-color: $blue;
      }
    }

    textarea.error {
      border-color: $red;
    }

    .jur-bio-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .error-info {
        color: $red;
        font-size: 10px;
      }

      .jur-bio-btn {
        button {
          margin-right: 0.8rem;
        }
      }
    }
  }
}
