@import "../../../assets/scss/variables";

.jur {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $header-bg-color;
    box-shadow: 0 3px 9px rgba($black, 0.5);
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10;

    .jur-logo {
      max-width: 130px;
    }

    .jur-profile-preview {
      margin-left: auto;
      color: $white;
    }
  }
}
