@import "../../../assets/scss/variables";

.jur {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $header-bg-color;
    box-shadow: 0 2px 4px 0 rgba($black, 0.25);
    align-items: center;
    padding: 0 34px;
    box-sizing: border-box;
    z-index: 11;

    .jur-logo {
      max-width: 130px;
      max-height: 40px;
    }

    .jur-nav-right {
      margin-left: auto;
    }

    .jur-profile-preview {
      color: $white;
    }
  }
}
