@import "../../../assets/scss/variables";

.jur {
    &-header {
        display: flex;
        width: 100%;
        height: 70px;
        background-color: $header-bg-color;
        box-shadow: 0 3px 9px rgba($black, .5);
        align-items: center;
        padding: 0 10px;

        .jur-logo {
            max-width: 130px;
        }
    }
}