@import "../../../assets/scss/variables";

.jur-contract-name {
  position: relative;

  input {
    font-size: 20px;
    height: 40px;
    padding-left: 15px;
    width: 100%;
    border: none;
    outline: none;
    color: $contract-name-color;
    font-family: $font-poppins;

    &:read-only {
      cursor: default;
      user-select: none;
      pointer-events: none;
    }
  }

  .jur-tag {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    min-width: 86px;
  }
}
