@import "../../../assets/scss/variables";

.jur {
  &-breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &__item {
      margin-right: 7px;

      &::before {
        content: "";
        display: inline-block;
        width: 2px;
        height: 9px;
        background-color: $breadcrumb-muted-color;
        margin-right: 7px;
      }

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      a {
        position: relative;
        color: $breadcrumb-muted-color;
        font-weight: 600;
        font-size: 12px;
        font-family: $font-poppins;
        text-decoration: none;
        text-transform: uppercase;

        &.active {
          color: $breadcrumb-active-color;
        }
      }
    }
  }
}
