@import "../../../assets/scss/variables";

.jur-block-info {
    font-family: $font-poppins;
    font-size: 10px;
    color: $gull-gray;
    text-align: justify;
    display: flex;
    align-items: flex-start;

    strong {
        text-transform: uppercase;
    }

    svg {
        flex: 0 0 10px;
        width: 10px;
        fill: $gull-gray;
        position: relative;
        top: 2px;
        margin-right: 4px;
    }
}