@import "../../../assets/scss/variables";

.jur-activity {
  min-height: 44px;
  font-family: $font-poppins;
  color: $gull-gray;
  font-size: 13px;

  &__info {
    display: flex;

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0 0 12px;
      line-height: 1;
    }

    &__from {
      > span {
        &:nth-child(1) {
          display: inline-block;
          margin-right: 7px;
          color: $prussian-blue;
          font-weight: $poppins-semibold;
        }
      }
    }

    &__message {
      display: flex;
      align-items: flex-end;

      .alert {
        font-weight: $poppins-semibold;
        color: $scarlet;
        padding-right: 5px;
      }

      .friendly {
        cursor: pointer;

        span {
          color: $heliotrope;
        }
      }

      .dispute {
        cursor: pointer;

        span {
          color: $rose; 
        }
      }

      .friendly,
      .dispute {

        span {
          font-weight: $poppins-semibold;
          margin: 0 20px 0 0;
        }

        svg {
          width: 12px;
          transform-origin: top center;
        }

        &--open {
          svg {
            transform: rotate(180deg) translateY(-5px);
          }
        }
      }

      .jur-avatar {
        margin: 0 4px 0 8px;
      }
    }
  }

  &__content {
    display: none;
    padding: 10px 0 0 52px;
    color: $prussian-blue;

    &--open {
      display: block;
    }

    .jur-amount {
      color: $prussian-blue;
    }
  }
}
