@import "../../../assets/scss/variables";

.jur {
    &-accordion {
        font-family: $font-poppins;

        h3 {
            font-size: 20px;
            color: $accordion-title-color;
            font-weight: 400;
            margin: 0;
            padding: 0 0 10px 0;
        }

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        &__item {
            $item: &;
            
            &--active {
                #{$item}__header {
                    color: $accordion-header-active-color;
                }

                #{$item}__content {
                    display: block;
                }
            }

            &__header {
                color: $accordion-header-color;
                font-weight: 600;
                cursor: pointer;
                padding: 10px 0;
                line-height: 1;
            }

            &__content {
                display: none;
                color: $accordion-header-color;
                padding: 20px;
            }
        }
    }
}