@import "../../../assets/scss/variables";

.jur-block-title {
    display: flex;
    align-items: center;
    
    .jur-info-tooltip {
        margin-right: 5px;

        svg {
            width: 10px;
        }
    }

    span {
        color: $block-title-text-color;
        font-family: $font-poppins;
        font-weight: $poppins-semibold;
        font-size: 12px;
        color: $block-title-text-color;
    }
}