@import "../../../assets/scss/variables";

.jur-block-title {
  display: flex;
  align-items: center;
  color: $block-title-text-color;
  font-family: $font-poppins;
  font-weight: $poppins-semibold;
  font-size: 12px;

  &__reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &__title {
    margin-right: 7px;
  }

  .jur-info-tooltip {
    margin-right: 5px;
    line-height: 1;
    position: relative;
    top: 1px;

    svg {
      width: 10px;
    }
  }
}
