@import "../../../assets/scss/variables";

.jur-pagination {

    .pagination {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 4px;
        border: 1px solid $athens-gray;
        font-family: $font-poppins;
    }

    li {
        display: inline-flex;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $athens-gray;
        
        a {
            color: $oxford-blue;
            text-decoration: none;
            font-weight: bold;
            opacity: 0.4;
        }

        &.active {
            a {
                opacity: 1;
            }
        }

        &:first-child,
        &:last-child {
            svg {
                width: 10px;
                fill: #CED0DA;
                transform: rotate(90deg);
            }
        }

        &:last-child {
            border-right: none;

            svg {
                transform: rotate(-90deg);
            }
        }
    }
}