@import "../../../assets/scss/variables";

.jur-info-tooltip {
  display: inline-block;

  &__tool-tip {
    width: 160px !important;
    border-radius: 4px !important;
    padding: 10px 7px !important;
    color: $white !important;
    line-height: 1.2 !important;
    background-color: $tooltip-bg !important;
    font-size: 10px !important;
    font-family: $font-roboto !important;
    box-shadow: 0 3px 9px rgba($black, 0.2) !important;
    
    &.show {
      opacity: 1 !important;
    }

    &.place-top {
      &::after {
        border-top-color: $tooltip-bg !important;
        border-top-style: solid !important;
        border-top-width: 6px !important;
      }
    }

    &.place-right {
      &::after {
        border-right-color: $tooltip-bg !important;
        border-right-style: solid !important;
        border-right-width: 6px !important;
      }
    }

    &.place-left {
      &::after {
        border-left-color: $tooltip-bg !important;
        border-left-style: solid !important;
        border-left-width: 6px !important;
      }
    }

    &.place-bottom {
      &::after {
        border-bottom-color: $tooltip-bg !important;
        border-bottom-style: solid !important;
        border-bottom-width: 6px !important;
      }
    }
  }

  svg {
    display: inline-block;
    fill: $gull-gray;
    width: 10px;
  }
}
