@import "../../../assets/scss/variables";

.jur {
    &-user-preview {
        display: flex;
        font-family: $font-poppins;

        &__info {
            display: flex;
            align-items: center;

            .jur-avatar {
                margin-right: 10px;
            }


            &__details {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            &__name {
                font-size: 14px;
                //color: $white;
                font-family: $font-lato;
            }

            &__seed {
                font-size: 10px;
                color: $gray;
            }
        }

        &__balance {
            display: flex;
            flex-direction: column;

            &__title {
                font-size: 10px;
                color: $gray;
            }
            
            &__value {
                font-size: 14px;
                //color: $white;
            }
        }
    }
}