@import "../../../assets/scss/variables";

.jur {
  &-user-action {
    &__body {
      padding: 25px 0 25px 20px;
      line-height: 22px;
      font-size: 13px;
      border-top: 2px solid $user-action-border-color;
    }
  }
}
