@import "../../../assets/scss/variables";

.jur {
    &-table {

        &__head {
            font-weight: 400;
            border-bottom: 2px solid $table-border;
        }

        &__cell {
            &--sortable {
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    display: inline-block;
                    margin-left: 10px;
                    width: 10px;
                }
            }
        }
    }

}