@import "../../../assets/scss/variables";

.jur-enum-filter {
  cursor: pointer;
  display: inline-block;
  color: $secondary;
  transition: all ease-in-out 400ms;

  &:hover {
    color: $primary-hover;
  }

  &__selected {
    color: $primary;
  }

  &-row {
    font-family: $font-poppins;
    font-size: 13px;
  }
}
