.jur-timeline__table {
  border-left: 2px dotted #33adff;
}

.jur-timeline__row {
  td:nth-of-type(1) {
    width: 262px;
  }
  td:nth-of-type(2) {
    width: 140px;
  }
  td:nth-of-type(3) {
    width: 100px;
  }
  td:nth-of-type(4) {
    width: 270px;
  }

  &:first-of-type {
    .jur-timeline__first-cell {
      &-content {
        margin-left: -2px;
        display: inline-block;
      }

      &::before {
        content: "";
        display: inline-block;
        height: 15px;
        width: 1px;
        position: relative;
        border-left: 4px solid white;
        top: -15px;
        left: -40px;
      }
    }

    .jur-timeline__first-cell-btn-fix {
      &::before {
        left: -40px;
      }
    }
  }

  &:last-of-type {
    border-left: 2px solid white;

    .jur-timeline__first-cell {
      &::before {
        content: "";
        display: inline-block;
        height: 20px;
        width: 1px;
        position: relative;
        border-left: 2px dotted #33adff;
        top: -15px;
        left: -40px;
      }
    }

    .jur-timeline__first-cell-btn-fix {
      &::before {
        left: -40px;
      }
    }
  }

  &::before {
    display: inline-block;
    z-index: 99999;
    position: relative;
    content: "";
    margin-top: 45%;
    left: -9px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0077ff;
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: 65% 50%;
    background-image: url(/jur-icon-white.svg);
  }

  &:only-child {
    .jur-timeline__first-cell {
      &::before {
        display: none;
      }
    }
  }

  &-btn-fix {
    &::before {
      margin-top: 43%;
    }
  }
}
