@import "../../../assets/scss/variables";

.icon-1x {
  height: 100%;
  width: auto;
}

.icon-half {
  height: 100%;
  width: auto;
  transform: scale(0.5);
}

.icon-24 {
  height: 24px;
  width: 24px;
}

.icon-clickable {
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: $primary;
  }
}
