@import "../../../assets/scss/variables";

.jur-contract-set-value {
    &__title {
        font-size: 20px;
        font-family: $font-poppins;
        color: $contract-select-category-title-color;
        margin-bottom: 6px;
    }

    .jur-contract-set-penalty-fee {
        margin-top: 20px;
    }
}