@import "../../../assets/scss/variables";

.jur-proposal-form {
    font-family: $font-poppins;
    color: $prussian-blue;
    font-size: 13px;
    padding: 10px 20px;

    &__description {
        text-align: justify;
        margin-bottom: 10px;
    }

    .jur-block-title {
        margin-bottom: 8px;
    }

    .jur-block-info {
        text-align: left;
        margin-top: 5px;
    }

    textarea {
        width: 100%;
        border-radius: 4px;
        border: 1px solid $contract-details-textarea-border-color;
        min-height: 80px;
        resize: none;
        color: $contract-details-textarea-text-color;
        font-size: 13px;
        font-family: $font-poppins;
        padding: 10px;
        margin-bottom: 10px;

        &::-webkit-input-placeholder {
          color: $gull-gray;
        }

        &:-moz-placeholder {
          color: $gull-gray;
        }

        &::-moz-placeholder {
          color: $gull-gray;
        }

        &::placeholder {
          color: $gull-gray;
        }
    }

    &__range-wrapper {
        .jur-price-range {
            &:first-child {
                margin-bottom: 20px;
            }
        }
    }

    &__evidences {
        margin-top: 15px;
    }

    .jur-upload-form {
        margin-top: 25px;
    }

    &__actions {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        button {
            min-width: 161px;
            width: 161px;
        }
    }
}