@import "../../../assets/scss/variables";

.jur-cover {
  border-radius: 4px 4px 0 0;
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: $secondary;

  &__top-out {
    margin-top: -40px;
  }

  &__bottom-out {
    margin-bottom: -20px;
  }

  &__justinian {
    color: white;
    background-image: $justinian-background-svg, $justinian-gradient;
  }

  &__solomon {
    color: white;
    background-image: $solomon-background-svg, $solomon-gradient;
  }

  &__hidden {
    display: none;
  }
}
