
@import '../../../assets/scss/variables'; // get global variables

.jur {

    &--balance {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 20px;
        position: relative;
        margin-left: 20px;
        min-width: 110px;
        min-height: 42px;
        box-sizing: border-box;

        &::before {
            content: '';
            background: $blackSemiTransparent;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 2px;
        }

        h5 {

            font-weight: normal;
            font-size: 10px;
            line-height: 10px;
            margin: 0;
            color: $gray;
        }

        p {

            margin: 0;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            align-items: flex-end;

            span {

                line-height: 13px;

                &:last-child {

                    margin-left: 2px;
                }
            }
        }
    }
}