@import "../../../assets/scss/variables";

.jur-counterparties-info {
    color: $counterparties-info-color;
    font-family: $font-poppins;

    h2 {
        font-size: 34px;
        margin: 0 0 30px 0;
        font-weight: $poppins-regular;
        line-height: 1;
    }

    p {
        line-height: 22px;
        font-size: 13px;
        text-align: justify;
    }
}