@import "../../../assets/scss/variables";

.jur {
  &-contracts {
    &__table {
      .jur-avatar-info {
        &:first-child {
          margin-bottom: 10px;
        }
      }

      .jur-table__row {
        cursor: pointer;
      }

      .jur-amount {
        color: $contracts-value-color;
        font-weight: $poppins-semibold;
      }

      .jur-pagination {
        margin-top: 20px;
        text-align: right;
      }
    }
  }
}
