@import "../../../assets/scss/variables";

.jur {
  &-contracts {
    &__table {
      .jur-avatar-info {
        &:first-child {
          margin-bottom: 10px;
        }
      }

      .jur-countdown {
        padding-right: 20px;
      }

      .jur-table__row {
        cursor: pointer;

        &.updated-contract {
          animation: 3s ease-out 0s 1 shineOnAppear;
        }
      }

      .jur-amount {
        color: $contracts-value-color;
        font-weight: $poppins-semibold;
      }

      .jur-pagination {
        margin-top: 20px;
        text-align: right;
      }

      .empty-placeholder {
        opacity: .4;
      }
    }
  }
}


@keyframes shineOnAppear {
  0% {
    background-color: #f3f7ff;
  }
  100% {
    background-color: #ffffff;
  }
}