@import "../../../assets/scss/variables";

.jur {
  &-contracts {
    &__table {
      .jur-avatar-info {
        &:first-child {
          margin-bottom: 10px;
        }
      }

      .jur-table__head {
        &:nth-child(1) {
          width: 150px;
        }
        &:nth-child(2) {
          
        }
        &:nth-child(3) {
          width: 190px;
        }
        &:nth-child(4) {
          width: 320px;
        }
        &:nth-child(5) {
          width: 160px;
        }
        &:nth-child(6) {
          width: 60px;
        }
      }

      .jur-countdown {
        padding-right: 20px;
      }

      .jur-table__row {
        cursor: pointer;
      }

      .jur-amount {
        color: $contracts-value-color;
        font-weight: $poppins-semibold;
      }

      .jur-pagination {
        margin-top: 20px;
        text-align: right;
      }

      .empty-placeholder {
        opacity: .4;
      }
    }
  }
}
