@import "../../../assets/scss/variables";

.jur-resolved-dispute-notification {
  display: flex;
  align-items: center;
  margin-right: -20px;
  font-family: $font-poppins;
  font-size: 13px;
  color: $gull-gray;
  background-color: $resolved-dispute-notification-bg-color;
  padding: 5px 20px;
  border-radius: 4px 0 0 4px;
  width: 479px;
  display: inline-flex;
  align-items: center;

  svg {
    width: 12px;
    margin-right: 10px;
  }
}
