@import "../../../../assets/scss/variables";

.jur-balance-card-icon {
  display: inline-block;
  width: 8px;
  color: $dodger-blue;

  &__up {
    transform: rotate(180deg);
  }
}

.jur-balance-card-view-details {
  font-size: 10px;
  cursor: pointer;

  &__active {
    color: $dodger-blue;
  }
}
